<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>About</title>
  </head>
  <body>
    <div class="container">
      <div class="column">
        <div class="column_left">
          <h2>Side</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>

          <h2>Main Content</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            sit amet pretium urna. Vivamus venenatis velit nec neque ultricies,
            eget elementum magna tristique. Quisque vehicula, risus eget aliquam
            placerat, purus leo tincidunt eros, eget luctus quam orci in velit.
            Praesent scelerisque tortor sed accumsan convallis.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            sit amet pretium urna. Vivamus venenatis velit nec neque ultricies,
            eget elementum magna tristique. Quisque vehicula, risus eget aliquam
            placerat, purus leo tincidunt eros, eget luctus quam orci in velit.
            Praesent scelerisque tortor sed accumsan convallis.
          </p>
        </div>

        <div class="column_right">
          <h2>BLOG</h2>

          <p>
            A blog is an online journal or informational website where an
            individual, group, or organization writes articles or posts
            regularly.
          </p>
          <img
            src="{% static 'image/images.jpg' %}"
            alt="Sample Image"
            class="image"
          />
          <input type="text" placeholder="Enter y0ur c0ntent" />
        </div>
      </div>
    </div>
  </body>
</html>
