{% extends 'base.html' %} {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<div class="container">
  <div class="column">
    <div class="column_left">
      <h2>Contact</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>

      <h2>Main Content</h2>

      <input type="text" placeholder="Enter y0ur c0ntent" />
    </div>
  </div>
</div>
<div class="footer">
  <p>&copy; 2025 My Website. All rights reserved.</p>

  <div class="flinks">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms of Service</a>
    <a href="#">Help & Support</a>
  </div>
</div>
